@model WebApplication1.Models.Product

@{ ViewBag.Title = "Edit"; }

<h2>Edit</h2>

@*<form action="/product/editpost" method="get">*@
@*<form action="/product/editpost" method="get">*@
@using (Html.BeginForm("EditPost", "Product", FormMethod.Post,
                          new { enctype = "multipart/form-data" }))
{ 
            <input type="hidden" name="id" value="@Model.Id" />
            <label for="description">Beschreibung</label>
        
            <input type="text" name="description" value="@Model.Description" />
        
            <label for="price">Preis</label>
            @*Convertiert das Atribut zu einem HTML-encoding String*@
            <input type="number" name="price" value="@Html.AttributeEncode(Model.Price)"  pattern="[0-9]*[,]{1}[0-9]{2}" step="0.01"/>
        
            <label for="availability">Verfügbarkeit</label>
     
            <input name="availability" type="checkbox" checked="@Model.Availability" value="true" />
            @*<input type="hidden" name="availability" value="false" />*@
        
            <label for="file">Upload Image</label>
       
            <input type="file" name="file" accept="image/*" id="file" style="width: 100%;" />
           
       
            <input type="submit" value="Update" class="submit" />
           
}
