
@{
    ViewBag.Title = "UploadPicture";
}

<h2>UploadPicture</h2>

@using (Html.BeginForm("FileUpload", "Product", FormMethod.Post,
                            new { enctype = "multipart/form-data" }))
{

    <label for="file">Upload Image:</label>
    <input type="file" name="file"  accept="image/*" id="file"  style="width: 100%;" />

    <input type="hidden" name="productId" value="@ViewBag.productId" />

    <input type="submit" value="Upload" class="submit" />

}